* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

#root {
  height: 100vh;
}

.navbar ul {
  list-style: none;
}

.navbar a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
    background-image: url("/background.webp");
    background-position: top center;
    background-size: cover;
  }
}
