* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

#root {
  height: 100vh;
}

.navbar ul {
  list-style: none;
}

.navbar a {
  text-decoration: none;
}

/* @media only screen and (max-width: 768px) {
} */
